/* Big tablet to 1200px (Width smaller than the 1140px Row) */

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
    .icon {
        display: none;
    }
}


/* Small tablet to big tablet: 768px to 1023px */

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .steps-box {
        margin-top: 10px;
    }
    .steps-box:last-child {
        margin-top: 10px;
    }
    .works-step {
        margin-bottom: 40px;
    }
    .works-step:last-of-type {
        margin-bottom: 80px;
    }
    .app-screen {
        width: 50%;
    }
    .icon-small {
        width: 17px;
        margin-right: 5px;
    }
    .city-feature: {
        font-size: 80%;
    }
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    .plan-price {
        font-size: 250%;
    }
    .contact-form {
        width: 80%;
    }
}


/* Small phones to small tablets: 481px to 767px */

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    section {
        padding: 30px 0;
    }
    .hero-text-box,
    .row {
        padding: 0 4%;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    h1 {
        font-size: 160%
    }
    h2 {
        font-size: 140%
    }
    .main-nav li {display: none;}
    .icon {
        float: center;
        display: inline-block;
        color: black;
    }

    .responsive li {
        position: relative;
        float: none;
        display: block;
        text-align: center;
        -webkit-transition: .3s;
        transition: .3s;
    }
}


/* Small phones: 0px to 480px */

@media only screen and (max-width: 480px) {

    header {
        height: 50%;
    }

    section {
        padding: 25px 0;
    }

    .main-nav li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .responsive {
        position: relative; 
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .icon {
        position: relative;
        display: block;
        float: none;
        right: 0;
        top: 0;
    }

    .responsive li {
        position: relative;
        float: none;
        display: block;
        text-align: center;
        -webkit-transition: .3s;
        transition: .3s;
    }


    #my-pic {
        margin: 0;
        margin-bottom: 20px;
    }

   .section-skills {
        height: 90%;
    }

    #paragraph {
        width: 100%;
    }

    #paragraph p {
        margin: 0;
        margin-bottom: 10px;
    }

    .navigation-btn,
    .basic {
        width: 50%;
        margin: 7px;
    }

    .buttons {
        margin-bottom: 10px;
    }

    .websites ul li {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form .btn-send {
        width: 50%;
    }


    .footer-nav li,
    .social-links {
        width: 100%;
        font-size: 160%;
        text-align: center;
        margin-bottom: 10px;
    }
}